<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if @operation == "add" %>
      <% result = @num1+@num2 %>
    <% elsif @operation == "subtract" %>
      <% result = @num1-@num2 %>
    <% elsif @operation == "multiply" %>
      <% result = @num1*@num2 %>
    <% elsif @operation == "divide" %>
      <%=@num1/@num2 %>
    end
  </body>
</html>
